<!-- Is linking the favicons like this bad practice? -->
<a target="_blank"
    href="http://scholar.google.com/citations?user=5t495QgAAAAJ">
<img class="favicon" alt="Scholar" src="https://s2.googleusercontent.com/s2/favicons?alt=p&amp;domain=scholar.google.com"/>
Scholar
</a>

<br/>

<a target="_blank" href="https://github.com/ninjin">
<img class="favicon" alt="GitHub" src="https://s2.googleusercontent.com/s2/favicons?alt=p&amp;domain=github.com"/>
GitHub
</a>

<br/>

<a target="_blank" href="https://plus.google.com/114130072591142332747/about">
<img class="favicon" alt="Google Plus" src="https://plus.google.com/favicon.ico"/>
Google+
</a>

<br/>

<a target="_blank" href="http://jp.linkedin.com/in/pontusstenetorp">
<img class="favicon" alt="LinkedIn" src="https://s2.googleusercontent.com/s2/favicons?alt=p&amp;domain=linkedin.com"/>
LinkedIn
</a>
