Me elsewhere:

<ul>
    <!-- Is linking the favicons like this bad practice? -->
    <li>
        <img class="favicon" alt="Scholar" src="https://s2.googleusercontent.com/s2/favicons?alt=p&domain=scholar.google.com"/>
        <a href="http://scholar.google.com/citations?user=5t495QgAAAAJ">Scholar</a>
    </li>

    <li>
        <img class="favicon" alt="GitHub" src="https://s2.googleusercontent.com/s2/favicons?alt=p&domain=github.com"/>
        <a href="https://github.com/ninjin">GitHub</a>
    </li>

    <li>
        <img class="favicon" alt="Google Plus" src="https://plus.google.com/favicon.ico"/>
        <a href="https://plus.google.com/114130072591142332747/about">Google Plus</a>
    </li>

    <li>
        <img class="favicon" alt="LinkedIn" src="https://s2.googleusercontent.com/s2/favicons?alt=p&domain=linkedin.com"/>
        <a href="http://jp.linkedin.com/in/pontusstenetorp">LinkedIn</a>
    </li>

    <li>
        <img class="favicon" alt="LinkedIn" src="https://s2.googleusercontent.com/s2/favicons?alt=p&domain=mendeley.com"/>
        <a href="http://www.mendeley.com/profiles/pontus-stenetorp/">Mendeley</a>
    </li>
</ul>
