Navigation:
<ul>
    <li>
        <a href="/">
            Home
        </a>
    </li>

    <li>
        <a href="/news.html">
            News
        </a>
    </li>

    <li>
        <a href="/code.html">
            Code
        </a>
    </li>

    <li>
        <a href="/publications.html">
            Publications
        </a>
    </li>

    <li>
        <a href="/media.html">
            Massmedia
        </a>
    </li>

    <li>
        <a href="/contact.html">
            Contact
        </a>
    </li>
</ul>
