<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <!-- utf-8 is reasonably nice, let's use that for our homepage -->
        <meta charset="UTF-8"/>
        <title>
            {{ page.title }} - Pontus Stenetorp's Home on the Web
        </title>

        {% if page.cmeta %}
            <!-- Include potential meta content to help search engines -->
            <meta name="description" content="{{ page.cmeta }}"/>
        {% endif %}

        <!-- Our standard style -->
        <link rel="stylesheet" type="text/css" href="/style.css"/>

        <!-- Google Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=VT323'
            rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700'
            rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Astloch:700'
            rel='stylesheet' type='text/css'/>
        <!-- Our standard font, likely to change -->
        <link href='http://fonts.googleapis.com/css?family=Istok+Web'
            rel='stylesheet' type='text/css'/>

        <!-- Google Analytics -->
        <script type="text/javascript" src="src/google_analytics.js"></script>
        <!-- Verification for the Google Webmaster Tools -->
        <meta name="google-site-verification"
            content="ZXmDURVa3NsP0X7U25Ywlzbf0zSFMhzb1PiJeCw6Vh8"/>

        <!-- Most browsers won't need this but still, here -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <body>
        <div id="body">
            <div id="ctr">
                <div id="hdr">
                    <!-- Left empty for now. -->
                </div>

                {% if page.title %}
                    <div id="top">
                        <div id="top_left">
                            <!-- Empty. -->
                        </div>

                        <div id="top_content">
                            <h1>
                                {{ page.title }}
                            </h1>
                        </div>

                        <div id="top_right">
                            <!-- Empty. -->
                        </div>
                    </div>
                {% endif %}

                <div id="middle">
                    <div id="left">
                        <p>
                            <div id="menu">
                                {% include menu.html %}
                            </div>

                            <div id="elsewhere">
                                {% include elsewhere.html %}
                            </div>
                        </p>
                    </div>

                    <div id="content">
                        <!-- Hack to open external links in a new tab. -->
                        {{ content | replace: '<a href="http', '<a target="_blank" href="http' }}
                    </div>

                    <div id="right">
                        <!-- Empty. -->
                    </div>
                </div>
            <div id="ftr">
                <a href="/copyright.html">
                    &copy; 2011-{{ site.time | date: "%Y" }} Pontus Stenetorp
                </a>
            </div>
            </div>
        </div>

        <!-- It's a trap! Well, for hostile e-mail crawlers that is... -->
        <a href="http://bob.llamaslayers.net/contact.php?view=862"></a>
    </body>
</html>
