<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- UTF-8 is reasonably nice, let's use that for our homepage -->
        <meta charset="UTF-8">
        <title>
            {{ page.title }} - Pontus Stenetorp's Git-based Homepage
        </title>
        <!-- Our standard style -->
        <link rel="stylesheet" type="text/css" href="style.css"/>

        <!-- Google Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=VT323'
            rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700'
            rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Astloch:700'
            rel='stylesheet' type='text/css'>
        <!-- Our standard font, likely to change -->
        <link href='http://fonts.googleapis.com/css?family=Istok+Web'
            rel='stylesheet' type='text/css'>

        <!-- Most browsers won't need this but still, here -->
        <link rel="shortcut icon" href="favicon.ico"/>
        {% include google_analytics.html %}
    </head>
    <body>
        <div id="body">
            <div id="hdr">
                <!-- Left empty for now -->
            </div>

            <div id="middle_left">
                <div id="middle_right">
                    <div id="middle">
                        <div id="content_wrap">
                            <div id="content">
                                {{ content }}
                            </div>
                        </div>

                        <div id="left">
                            <div id="menu">
                                {% include menu.html %}
                            </div>
                        </div>

                        <div id="right">
                            <div id="elsewhere">
                                {% include elsewhere.html %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ftr">
                {% include ftr.html %}
            </div>
        </div>

        <!-- It's a trap! Well, for hostile e-mail crawlers that is... -->
        <a href="http://bob.llamaslayers.net/contact.php?view=862"></a>
    </body>
</html>
